body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

header {
    background: url('images/header-bg.jpg') no-repeat center center;
    background-size: cover;
}

footer a:hover {
    color: #ffffff;
}

/* Add this to your styles.css file */

#photography img {
    max-width: 100%;
    height: auto;
    max-height: 300px; /* Adjust this value as needed */
    display: block;
    margin: 0 auto;
}

#photography .overflow-hidden {
    max-height: 300px; /* Ensure the container does not exceed the image height */
}

.year-separator {
    font-size: 1.5rem; /* Adjust the size as needed */
    font-weight: bold;
    margin: 2rem 0 1rem; /* Adjust spacing as needed */
    text-align: center;
    color: #2d3748; /* Example color, can be adjusted */
}

.article-number {
    font-weight: normal;
    font-size: 1.25rem; /* Slightly smaller font size */
    color: #4A5568; /* Example color, can be adjusted */
    margin-right: 0.5rem;
}

.article-title {
    font-size: 1.0rem; /* Smaller font size for title */
    font-weight: bold;
    margin: 0; /* Remove default margin */
}

.article-authors,
.article-journal,
.article-year {
    font-size: 0.8rem; /* Smaller font size for authors, journal, and year */
}

.bibtex-entry {
    font-family: monospace;
    font-size: 0.75rem; /* Smaller font size for BibTeX entry */
    white-space: pre-wrap; /* Ensure consistent spacing and line breaks */
    text-align: left; /* Left alignment */
    background-color: #f7fafc; /* Light background color */
    padding: 0.5rem; /* Padding for better readability */
    border-radius: 0.25rem; /* Slightly rounded corners */
    border: 1px solid #e2e8f0; /* Light border color */
}


